# Facebook Data

In [1]:
import pandas
import json
import plotly.express as px
import plotly.graph_objects as go

pandas.options.display.max_rows = None

## Off Facebook Data

Convert To CSV

In [5]:

off_facebook_file_json = 'data/facebook/ads_and_businesses/your_off-facebook_activity.json'

off_facebook_df = pandas.read_json(off_facebook_file_json)
off_facebook_df.head()

                               off_facebook_activity
0  {'name': 'la-z-boy.com', 'events': [{'id': 136...
1  {'name': 'hiphopdx.com', 'events': [{'id': 167...
2  {'name': 'loopnet.com', 'events': [{'id': 5085...
3  {'name': 'nbcnews.com', 'events': [{'id': 2584...
4  {'name': 'redfin.com', 'events': [{'id': 85172...